.container {
    padding:30rpx;
}

.topic-owner {
    display: flex;
    align-items: center;
    margin-bottom: 30rpx;
}


.topic-info {
    margin-bottom: 40rpx;
    color:#777;
}

.topic-desc {
    margin-bottom: 20rpx;
    line-height: 1.4;
    word-wrap: break-word;
    word-break: normal;
    font-size:14px;
    color:#333;

}
.gy1 image{
  width: 750rpx;
  height: 200rpx;
}
.line_y{
  width: 3px;
  height: 18px;
  display: inline-block;
  background-color:limegreen;
}
view.text{
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  color: aliceblue;
  background-color: silver;
}
view.text text{
 margin-left: 10px;
 line-height: 18px;
}

.wx-cells {
  width: 100%;
  margin-top: 15rpx;
  font-size: 34rpx;
  border-top: 1rpx solid #d9d9d9;
  border-bottom: 1rpx solid #d9d9d9;
  background-color: #fff;
}

.wx-cell {
  padding: 20rpx 25rpx;
  display: flex;
  align-items: center;
}

.wx-cell-icon{
  width: 56rpx;
  height: 56rpx;
}

.wx-cell-text{
  flex: 1;
  margin-left: 30rpx;
}

.wx-cell-arrow{
  width: 30rpx;
  height: 30rpx;
  margin-left: 10rpx;
}

.wx-cell-inner{
  padding: 30rpx 30rpx 30rpx 0;
  margin-left: 30rpx;
  border-bottom: 1rpx solid #d9d9d9;
}

.wx-cell-left{
  font-size: 35rpx;
  align-items: center;
}

.wx-cell-right{
  align-items: center;
}

.wx-cell-right-text{
  font-size: 30rpx;
  color: #808080;
}
.no-border{
  border: 0;
}
/* 表单样式*/
.info-box .section11{
    display: block;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    padding: 6px;
    background-color: #ffffff;
    background-image: none;
    border: 0.5px #ccc solid;
    border-radius: 0;
    font-size: 13px;
    color: #888;
    margin-bottom:8px;

    }

.info-box{
    padding: 0 15px;
    padding-top: 15px;
    background:#0595c7;
}

.info-box .btn-area4{
    padding-bottom:6px;
}
.info-box .sdd{
    font-size:18px;
   color:#fff;
   text-align:center;
   margin-bottom:8px;
}
.btn-area41{

    margin:0 auto;
    line-height:1.5
}